<!DOCTYPE html>
<html>
  <head>
    <title>Sequrity App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light">
    <header class="container">
      <%= render 'layouts/nav' %>
    </header>
    <main class="container m-5 p-5 text-center">
      <%= yield %>
    </main>
  </body>
</html>
